<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite Selenium" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="testComponents.Listeners"/>
    </listeners>

    <test name="Cart Tests">
        <classes>
            <class name="AddProductToCartTest"/>
        </classes>
    </test>

    <test name="Order Tests">
        <classes>
            <class name="SubmitOrderTest"/>
        </classes>
    </test>
</suite>
